﻿@using PersonalBudget.Helpers
@model PersonalBudget.Models.ViewModels.CreateBillViewModel

@{
    ViewBag.Title = "Dodaj rachunek";
}

<h2>Dodaj rachunek</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Rachunek</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.DropDownListGroupFor(model => model.IssuerSubjectID, Model.EligibleSubjects)

        @Html.TextEditorGroupFor(model => model.Date)

        <table class="table" id="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BillEntries.First().ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillEntries.First().UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillEntries.First().Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillEntries.First().TotalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillEntries.First().CategoryID)
                </th>
                <th></th>
            </tr>

            @for (int i = 0; i < Model?.BillEntries?.Count; i++)
            {
                <tr>
                    <td><input type="text" name="BillEntries[@i].ProductName" value="@Model.BillEntries[i].ProductName"/></td>
                    <td><input class="unitprice" type="number" step="0.01" placeholder="0.00" name="BillEntries[@i].UnitPrice" value="@Model.BillEntries[i].UnitPrice"/></td>
                    <td><input class="quantity" type="number" step="0.001" placeholder="1.000" name="BillEntries[@i].Quantity"  value="@Model.BillEntries[i].Quantity" /></td>
                    <td class="amount"></td>
                    <td>@Html.DropDownListFor(x => Model.BillEntries[i].CategoryID, Model.Categories, new { selectedIndex = Model.BillEntries[i].CategoryID })</td>
                    <td></td>
                </tr>
            }
        </table>
        <hr />
        <div class="form-group">
            <dic class="col-md-2" style="float:right;" id="totalsum"></dic>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <input type="button" value="Dodaj nowy wpis" class="btn" id="btnAddField" />
            </div>
            <div class="col-md-offset-6 col-md-10">
                <input type="button" value="Usuń ostatni wpis" class="btn" id="btnDeleteLastField" />
            </div>
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            var fields = $('#table > tbody')[0];
            function enableDisableButton() {
                var entities = $(fields).children();
                if (entities.length <= 2) {
                    $('#btnDeleteLastField').attr('disabled', true);
                } else {
                    $('#btnDeleteLastField').attr('disabled', false);
                }
            }
            $('#btnAddField').click(function (e) {
                var newRowNumber = fields.children.length - 1;
                e.preventDefault();
                var htmlToInject = '<tr><td><input type="text" name="BillEntries[' + newRowNumber + '].ProductName"/></td><td><input class="unitprice" type="number" step="0.01" value="0.00" placeholder="0.00" name="BillEntries[' + newRowNumber + '].UnitPrice" /></td><td><input class="quantity" type="number" step="0.001" value="1.000" placeholder="1.000" name="BillEntries[' + newRowNumber + '].Quantity" /></td><td class="amount"></td><td>';
                htmlToInject += `@Html.DropDownList("BillEntries[${newRowNumber}].CategoryID", Model.Categories)</td></tr>`;
                $(htmlToInject).appendTo(fields);
                $(fields).change();
                enableDisableButton();
            });
            if (fields.children.length == 1) {
                $('#btnAddField').click();
            }
            $(fields).change(function () {
                var totalSum = 0;
                $(fields).children().each(function () {
                    var unitprice = $(this).find(".unitprice").val();
                    if (unitprice != undefined) {
                        var quantity = $(this).find(".quantity").val();
                        var total = Math.floor(unitprice * quantity * 100) / 100;
                        totalSum += total;
                        $(this).find(".amount").html(total.toFixed(2) + ' zł');
                    }
                })
                $('#totalsum').html('Suma: ' + totalSum.toFixed(2) + " zł")
            });
            enableDisableButton();
            $(fields).change();
            $('#btnDeleteLastField').click(function (e) {
                var newRowNumber = fields.children.length - 1;
                e.preventDefault();
                var entities = $(fields).children();
                if (entities.length > 2) {
                    entities.last().remove();
                }
                enableDisableButton();
                $(fields).change();
            });
        });

    </script>
}