﻿@model PersonalBudget.Models.DbModels.Bill

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Czy na pewno chcesz usunąć poniższy wpis?</h3>
<h4>Spowoduje to również usunięcie powiązanych wpisów oraz transakcji!</h4>
<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IssuerSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuerSubject.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientSubject.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertionDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
