﻿@model PersonalBudget.Models.DbModels.Bill

@{
    ViewBag.Title = "Szczegóły rachunku";
}

<h2>Szczegóły</h2>

<div>
    <h4>Rachunek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IssuerSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuerSubject.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientSubject.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertionDate)
        </dd>

    </dl>
</div>

<h3>Pozycje</h3>
<hr />
<table class="table">
    <tr>
        <th>Nazwa</th>
        <th>Ilość</th>
        <th>Cena jednostkowa</th>
        <th>Kwota</th>
        <th>Kategoria</th>
    </tr>
    @foreach(var entry in Model.BillEntries)
    {
        <tr>
            <td>@Html.DisplayFor(x => entry.Product.Name)</td>
            <td>@Html.DisplayFor(x => entry.Quantity)</td>
            <td>@Html.DisplayFor(x => entry.UnitPrice)</td>
            <td>@Html.DisplayFor(x => entry.Amount)</td>
            <td>@Html.DisplayFor(x => entry.Product.Category.Name)</td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
