﻿@{
    ViewBag.Title = "O projekcie";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Projekt realizowany w ramach przedmiotu Technologie Programistyczne.
    Stan projektu na dzień 15.12.2017:
    <ul>
        <li>Zaprojektowano wstępny model encji-związków</li>
        <li>Przygotowano szkielet strony w ASP.NET</li>
    </ul>
    W stosunku do zaplanowanego harmonogramu, opóźnione zostały:
    <ul>
        <li>Transformacja modelu encji-związków do modelu relacyjnego</li>
        <li>Odwzorowanie obiektowo-relacyjne w projekcie</li>
        <li>Operacje CRUD</li>
        <li>Raport nr 1 (dziś zostanie wysłany!)</li>
    </ul>
</p>
