﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Budżet osobisty</h1>
    <p class="lead">Kolejna niesamowita aplikacja, która odmieni Twój sposób prowadzenia budżetu</p>
    <p><a href="http://wikipedia.pl" class="btn btn-primary btn-lg">Dowiedz się więcej &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Jak zacząć?</h2>
        <p>
            Budżet osobisty &reg; dostarcza P O T Ę Ż N Y C H narzędzi do księgowania wydatków.
            Dzięki niemu nie zagubisz się w stosie rachunków, a stan Twojego portfela będzie zawsze zgadzał się z tym, czego się spodziewasz.
        </p>
        <p><a class="btn btn-default" href="http://wikipedia.pl">Dowiedz się więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Projekt</h2>
        <p>Schemat encji-związków został zaprojektowany. Trwają prace nad transformacją do modelu obiektowo-relacyjnego.</p>
        <p><a class="btn btn-default" href="http://wikipedia.pl">Dowiedz się więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Już niebawem</h2>
        <p>Gdy tylko system będzie gotowy do obsługi przez przeglądarkę, rozpoczeniemy prace nad aplikacją mobilną.</p>
        <p><a class="btn btn-default" href="http://wikipedia.pl">Dowiedz się więcej  &raquo;</a></p>
    </div>
</div>