﻿@using PersonalBudget.Helpers
@model PersonalBudget.Models.ViewModels.BaseCategoryViewModel

@{
    ViewBag.Title = "Dodawanie kategorii";
}

<h2>Dodawanie</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kategoria</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.TextEditorGroupFor(model => model.Name)

        @Html.DropDownListGroupFor(model => model.ParentCategoryID, Model.EligibleCategories)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>
