﻿@model PersonalBudget.Models.DbModels.Category

@{
    ViewBag.Title = "Szczegóły kategorii";
}

<h2>Szczegóły</h2>

<div>
    <h4>Kategoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentCategory)
        </dt>

        <dd>
            <a href="@Url.Action("Details", new { id = Model.ParentCategory?.ID })">
                @Html.DisplayFor(model => model.ParentCategory.Name)
            </a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmountOwn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmountOwn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

    </dl>
</div>

<h3>Podkategorie</h3>
<table class="table">
    <tr>
        <th>Nazwa</th>
        <th>Całkowita kwota w poddrzewie</th>
    </tr>
    @foreach (var category in Model.ChildCategories)
    {
        <tr>
            <td><a href="@Url.Action("Details", new { id = category.ID })">@Html.DisplayFor(x => category.Name)</a></td>
            <td>@Html.DisplayFor(x => category.TotalAmount)</td>
        </tr>
    }
</table>

<h3>Produkty w kategorii</h3>
<table class="table">
    <tr>
        <th>Nazwa</th>
        <th>Całkowita zakupiona ilość</th>
        <th>Całkowita wydana kwota</th>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@Html.DisplayFor(x => product.Name)</td>
            <td>@Html.DisplayFor(x => product.TotalQuantity)</td>
            <td>@Html.DisplayFor(x => product.TotalAmount)</td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Edytuj kategorię", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
