﻿@using PersonalBudget.Helpers
@model PersonalBudget.Models.ViewModels.UpdateCategoryViewModel

@{
    ViewBag.Title = "Edycja kategorii";
}

<h2>Edycja</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kategoria</h4>
        <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CategoryID)

                @Html.TextEditorGroupFor(model => model.Name)

                @Html.DropDownListGroupFor(model => model.ParentCategoryID, Model.EligibleCategories)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>
