﻿@model IEnumerable<PersonalBudget.Models.DbModels.CashlessAccount>

<h3>Konta bezgotówkowe</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalOutcome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentBalance)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalOutcome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentBalance)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "EditCashlessAccount", new { id = item.ID }) |
                @Html.ActionLink("Usuń", "DeleteCashlessAccount", new { id = item.ID })
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Dodaj", "CreateCashlessAccount")
</p>