﻿@model PersonalBudget.Models.DbModels.CashAccount

@{
    ViewBag.Title = "Usuwanie konta gotówkowego";
}

<h2>Usuwanie</h2>

<h3>Czy jesteś pewien, że chcesz usunąć ten wpis?</h3>
<h4>Zostaną usunięte również wszystkie transakcje powiązane z tym kontem!</h4>
<div>
    <h4>Konto gotówkowe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentBalance)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń bezpowrotnie" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
