﻿@using PersonalBudget.Helpers
@model PersonalBudget.Models.ViewModels.SubjectAndAddressCreateViewModel

@{
    ViewBag.Title = "Dodawanie wpisu";
}

<h2>Dodawanie wpisu</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Podmiot</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.TextEditorGroupFor(model => model.Name)

        @Html.TextEditorGroupFor(model => model.Street)

        @Html.TextEditorGroupFor(model => model.PlaceNumber)

        @Html.TextEditorGroupFor(model => model.PostalCode)

        @Html.TextEditorGroupFor(model => model.City)

        @Html.TextEditorGroupFor(model => model.Country)

        <div class="form-groups">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
