﻿@model PersonalBudget.Models.DbModels.Subject

@{
    ViewBag.Title = "Usuwanie podmiotu";
}

<h2>Usuwanie</h2>

<h3>Czy jesteś pewien, że chcesz usunąć ten wpis?</h3>
<div>
    <h4>Podmiot</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.PlaceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.PlaceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Country)
        </dd>

        @if (Model.AssociatedRealSubjects.Count > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.AssociatedRealUsers.Single().Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AssociatedRealUsers.Single().Email)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.EntryOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryOwner.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
